# .env должен быть в гит игноре
MODE = development|production # локально ставим development, на боевом через ftp устанавливаем production
VITE_BASE_PATH = local/js/vite # базовый путь до директории с vite
VITE_CLIENT_PATH = dist|dist/client # директория с клиентскими ассетами относительно базовой директории, первый вариант если без ssr, второй если используете ssr сборку
VITE_PORT = 5173 # порт сервера для режима development, в контейнер node так же нужно прокинуть порт
VITE_SSR_ENABLE = 0|1 # включен ssr или нет
VITE_SSR_HOST = 'localhost' # host ssr сервера, или название докер контейнера с node где запускается ssr
VITE_SSR_PORT = 5174 # порт ssr сервера, в контейнер node так же нужно прокинуть порт